.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.timeInput{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.formGroup {
    margin: 20px 0;
    vertical-align: middle; /* 체크박스를 라벨 중앙에 맞춤 */
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.checkbox {
    zoom: 1.5;
    margin-right: 5px;
    vertical-align: middle; /* 체크박스를 라벨 중앙에 맞춤 */
}

.flowChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.flowItem {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.arrow {
    font-size: 24px;
    color: #888;
}